@import url(background.css);
@import url(header.css);
@import url(main.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100%;
    padding: 1rem 1.1rem;
}

:root {
    --text: #edf1f7;
    --red: #df1414;
    --yellow: #ffef13;
}

body,
button,
a {
    color: var(--text);
    font: 400 1rem "Mukta", sans-serif;
}

a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

@media (min-width:768px) {
    header {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    #iconAbrir, #iconFechar{
        display: none;
    }

    #menu {
        display: flex;
        flex-direction: row;
        background-color: transparent;
    }

    #navigationSocial {
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
        margin-top: 0;
    }

    main {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .main-info {
        display: flex;
        justify-content: flex-start;
        width: 80%;
        max-width: 50%;
    }

    .img-perso {
        display: inline;
    }

}